#title {
	font-weight: 100;
	font-size: 48px;
	text-align: center;
	color: white;
	margin-bottom: 40px;
}

#slogan {
	font-weight: 300;
	color: white;
	font-size: 22px;
	text-align: center;
	width: 60%;
	margin: auto;
}