@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
	background-color: #edece4;
	font-family: 'Lato';
}

footer {	
	display: none;
	position: fixed;
	bottom: 10px;
	width: 100%;
	#copyright {
		color: white;
		text-align: center;
	}
}

h1.title {
	text-align: center;
}

/* Boutons */

.btn {
	padding: 4px 16px; 
	margin: 20px auto;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
}

.btn-dark {
	background: #333;
	color: #fff;
	box-shadow: 0 3px #222;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-dark:hover {
	box-shadow: 0 2px #222;
	top: 1px;
}

.btn-dark:active {
	box-shadow: 0 0 #222;
	top: 3px;
}
